/*common shared styles*/
body {
    font-family: Merriweather;
    font-family: Inter;
}

/*banner styles*/

.banner-greeting {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding: 177px 530px 0;

}

.banner-title {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 0 344px 177px;
}

.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    margin: 30px 80px;
    border-radius: 16px;
    background-color: #E6E6FA;
    border-radius: 16px;
}

/*section styles*/
.off {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin: 300px 409px o;
    padding-top: 100px;

}


.our {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin: 030px 401px 0 402px;
}

.all {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin: 10px 395px 0;
}

.img {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    margin: 40px 350px 0;
    fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
    padding: o 130px 120px;
}

.section-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.section-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.join-now {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin: 120px 80px 0;
    border-radius: 16px;
    display: flex;


}

.section-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding: 106px 74px 12px 106px;
}

.section-description {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0 0 28px 106px;
}

.join {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 0 0 138px;
    text-decoration: none;
    cursor: pointer;
    font-family: Inter;
}

.join:hover {
    color: rgba(255, 255, 255, 1);
}


.pic {

    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 50px 125px 50px 0;

}

.event-details {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 120px 0;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 120px 80px 0;
}

.join-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    background-color: #F00;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;

}

.join-button:hover {
    background-color: #5f1800;
}

.strong {
    color: #F00;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    line-height: 20px;
}

.event-details p {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    line-height: 20px;
}


.offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px 80px 0;
}

.offer>div {
    flex-grow: 1;
    text-align: center;
}



.new,
.soon,
.soon-description,
.title,
.title-description,
.group-96 {
    text-align: left;
}


.new {
    color: #F00;
    text-align:left;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 15px;

}

.soon {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    text-align:left;
    padding-bottom: 18px;
}

.soon-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    text-align:left;
}

.ellipse {
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;
    border-radius: 364.844px;
   
    padding: 39px;
    border-radius: 463px;
    border: 15px solid #F00;

}

.title {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}

.title-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.group-96 {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
}

/*WHAT IS FUNCTIONAL styles*/
.what {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 0;
}

.holi {
    color: #F00;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 20px;
}
.sale-50{
    color: #070211;
font-size: 72px;
font-weight: 900;
text-align: center;
padding-bottom: 20px;
}

.holi-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    padding-bottom: 400px;
}

.what-is-functional {
    margin: 120px 80px 0px ;

}



/* discount styles*/

.image-container {
    display: flex;
    align-items: flex-end;
    background-image: url('../resources/Rectangle\ 2.png');
    background-position: bottom;
    background-size: cover;
    border-radius: 16px 0px 16px 16px;
    width: 100%;
    height: 229px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.right-image {
    margin-right: 171px;
    margin-bottom: 455px;
    width: 206.841px;
    height: 206.841px;
    flex-shrink: 0;
}

.group-75 {
    margin-right: 200px;
    margin-top: 200px;
    width: 500px;
    height: 500px;
    flex-shrink: 0;

}

.right-images {
    display: flex;
    flex-direction: column;
}

.rec {
    margin-bottom: 50px;
    margin-left: 200px;
    width: 406.841px;
    height: 406.841px;
}

.side-by-side {
    display: flex;
}


/* gift styles*/
.h {
    margin: 120px 80px 0;
}

.bgift {

    display: block;
    text-align: justify;

}

.gift {
    color: #F00;
    font-size: 24px;
    ;
    font-weight: 500;
    padding-bottom: 10px;
}

.potfoli {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-bottom: 18px;
}

.best {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.rec-u {
    padding: 16px;
    justify-content: space-between;
            align-items: center;  
            border-radius: 16px;
         
}
.rec-u img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;} 
    .rec-u img:hover {
        transform: scale(1.1);}   


/*last section styles*/
.sub {
    margin: 120px 80px 0;

}

.sub-img {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    padding: 80px 580px 40px;

}

.sub-title {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    ;
    text-transform: capitalize;
}

.sub-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 48px;
}

/*subscrib button*/

.subscribe-container {
    text-align: center;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-input {
    padding: 10px 24px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 50px 0px 0px 50px;
    margin-right: -1px;
    background-color: #FFF;
    padding: 18px 200px 18px 25px;
}

.subscribe-button {
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #F00;
    color: #fff;
    border: 1px solid #F00;
    border-radius: 0px 50px 50px 0px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 18px;
}

.subscribe-button:hover {
    background-color: #e04b0b;
    border-color: #dc1a05;
}

/*footer styles*/
.footer {
    background-color: #070211;
    padding: 20px;
    text-align: center;
    margin: 120px 80px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.address {
    text-align: left;
    color: #FFF;
}

.contact {
    text-align: right;
    color: #FFF;
}
.contact {
    display: flex;
    align-items: center;
    
}
.contact-group {
    display: flex;
    color: #FFF;
}

.contact-group p {
    margin: 0;
}

.phone, .website {
    margin-right: 0px;
}
.line {
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons img {
    margin: 0 10px 50px;
}

.line{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    padding-top: 50px;
}


.rights p,
.unsubscribe p {
    margin: 0;
}

.rights {
    text-align: left
}

.unsubscribe {
    text-align:right
}