/*common shared styles*/
body {
    font-family: Merriweather;
    font-family: Inter;
}

/*banner styles*/

.banner-greeting {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding: 177px 530px 0;

}

.banner-title {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 0 344px 177px;
}

.banner {
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 30px 120px;
    border-radius: 16px;
    background-color: #E6E6FA;
    border-radius: 16px;
    background: ;

}

/*section styles*/
.off {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin: 300px 409px o;
}


.our {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin: 030px 401px 0 402px;
}

.all {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin: 10px 395px 0;
}

.img {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    margin: 40px 350px 0;
}